.information-body {
  margin-top: 15px;
}

.information {
  margin-top: 20px;
  margin: 0px;
  display: flex;
  //   flex-wrap: wrap;
  //   position: relative;
  // justify-content:space-evenly;

  &__left {
    width: 400px;
    height: 400px;
    &__uppictcontainer {
      width: 400px;
      height: 130px;

      //   height: fit-content;
      &__left-up-pict {
        width: 100%;
      }
    }
    &__downpictcontainer {
      &__left-down-pict {
        padding-top: 70px;
        width: 100%;
      }
    }
  }
  &__middle {
    &__text {
      width: 300px;
      height: 467px;
      // width:500px;
      // display: flex;
      // flex-direction: row;
      // justify-content: left;
      background-color: #f3f3f3;
      margin: 0px 5px;
      //   height: fit-content;
      font-size: 18px;
      font-family: Montserrat;
      > h1 {
        font-family: Montserrat;
        // line-height: 40px;
        font-weight: 700;
        font-size: 31px;
        margin: 0px 10px;
        text-align: center;
        @include for-size(tablet) {
          font-size: 26px;
        }
        @include for-size(phone) {
          font-size: 18px;
        }
      }
      > p {
        text-align: center;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        @include for-size(tablet) {
          font-size: 18px;
        }
        @include for-size(phone) {
          font-size: 12px;
        }
      }
    }
  }
  &__right {
    width: 100%;

    &__pictcontainer {
      //   height: 100.5vh;

      &__right-pict {
        height: 71vh;
        // height: 25vh;
        width: 100%;
        object-fit: cover;
      }
    }
    // width: 800px;
  }
}

.leafletmap {
  margin-top: 50px;
}
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text__container {
  background-color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: Montserrat;
  size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
  h1 {
    font-family: Montserrat;
    size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    @include for-size(tablet) {
      font-size: 36px;
    }
    @include for-size(phone) {
      font-size: 24px;
    }
  }
  p {
    font-size: 20px;
    line-height: 30px;
    @include for-size(tablet) {
      font-size: 18px;
    }
    @include for-size(phone) {
      font-size: 16px;
    }
  }
}
.leaflet-container {
  width: 100%;
  height: 60vh;
  // margin: auto;
}

@media (max-width: 1024px) {
  .information {
    flex-direction: column;
    // margin-top: 20px;
    // margin: 0px;
    // display: flex;
    &__left {
      margin: auto;
      width: 400px;
      height: 550px;
      &__uppictcontainer {
        width: 400px;
        height: 200px;
        &__left-up-pict {
          width: 100%;
        }
      }
      &__downpictcontainer {
        &__left-down-pict {
          width: 100%;
        }
      }
    }
    &__middle {
      margin: auto;

      &__text {
        width: 300px;
        // height: 467px;
        background-color: #f3f3f3;
        margin: 0px 5px;
        font-size: 18px;
        font-family: Montserrat;
        @include for-size(phone) {
          height: 250px;
        }
        > h1 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 31px;
          margin: 0px 10px;
          @include for-size(phone) {
            font-size: 24px;
          }
        }
        > p {
          margin-top: 30px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    &__right {
      margin: auto;

      width: 100%;

      &__pictcontainer {
        &__right-pict {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
