.background {
  background-size: cover;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  &__text {
    font-weight: 600;
    font-size: 60px;
    color: white;
    line-height: 100px;
    width: 60%;
    margin: 150px 0 70px 166px;

    @include for-size(desktop) {
      font-size: 32px;
      line-height: 60px;
      width: 60%;
      margin: 40px;
    }
    @include for-size(tablet) {
      font-size: 30px;
      line-height: 50px;
      margin: 20px 50px 10px 50px;
      width: 60%;
    }
    @include for-size(phone) {
      font-size: 18px;
      line-height: 30px;
      margin: 20px 30px 20px 30px;
    }
  }

  &__button {
    border-radius: 35px;
    padding: 25px 30px;
    border: none;
    background: rgba(242, 105, 49, 1);
    color: white;
    font-weight: 500;
    margin-left: 170px;
    @include for-size(desktop) {
      padding: 15px 25px;
      font-size: 15px;
      margin-left: 50px;
    }
    @include for-size(tablet) {
      padding: 10px 15px;
      font-size: 12px;
      margin: 20px 50px;
    }
    @include for-size(phone) {
      padding: 5px 10px;
      font-size: 8px;
      margin: 10px 30px;
    }
  }
}

.body__text {
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  @include for-size(tablet) {
    font-size: 18px;
  }
  @include for-size(phone) {
    font-size: 12px;
  }
  > h1 {
    margin-bottom: 30px;
    font-weight: 700;
    @include for-size(desktop) {
      font-size: 28px;
    }
    @include for-size(tablet) {
      font-size: 26px;
      font-weight: 700;
    }
    @include for-size(phone) {
      font-size: 18px;
      font-weight: 700;
    }
  }
  > p {
    line-height: 35px;
    font-size: 20px;
    @include for-size(desktop) {
      font-size: 18px;
    }
    @include for-size(tablet) {
      line-height: 25px;
      font-size: 16px;
    }
    @include for-size(phone) {
      line-height: 20px;
      font-size: 12px;
    }
  }
}
