.bookmark {
  // background-color: rgba($color: grey, $alpha: 0.5);
  background-image: url("../../assets/img/about/fav-background.jpg");
  // opacity: 0.9;
  background-size: cover;
  // height: 180vh;
  height: auto;
  &__h3 {
    height: 20vh;
    > h3 {
      color: white;
      background-color: rgba($color: black, $alpha: 0.5);
      width: 40%;
      border-radius: 5px;
      margin: auto;
      text-align: center;
      height: 15vh;
    }
  }

  &__head {
    &__text {
      transform: scale(0.9, 0.9);
      box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.7),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.2);
      background-color: rgba($color: white, $alpha: 0.9);
      width: 50%;
      margin: 40px auto;
      text-align: center;
      border-radius: 10px;
      > h2 {
        background-color: rgba($color: tomato, $alpha: 0.9);
        border-radius: 5px;
        text-align: center;
        width: 50%;
        margin: auto;
      }
    }
  }
}

.card-master {
  background-color: rgba($color: white, $alpha: 0.25);
  // height: 140vh;
  height: auto;
  // margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  > button {
    width: 100px;
    margin: 0 5px;
  }
  &__button-play {
    background-color: rgba($color: tomato, $alpha: 0.9);
    color: white;
    border-radius: 5px;
    border: none;
  }
  &__button-play:hover {
    background-color: rgba($color: tomato, $alpha: 1);
  }
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 120px;
  // margin-bottom: 10px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  // border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -80px;
  height: 40px;
  background-color: rgba($color: black, $alpha: 0.5);
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
