.feature {
  &__background {
    background-size: cover;
    width: 100%;
    height: 115vh;
    margin-bottom: 0;
  }
  &__text {
    font-weight: 700;
    font-size: 60px;
    color: white;
    line-height: 104px;
    width: 50%;
    margin: 190px 0 30px 166px;
  }

  .first-body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    &__img {
      position: absolute;
      top: 827px;
      left: 380px;
    }
    &__img2 {
      position: absolute;
      top: 1445px;
      left: 500px;
    }
    &__img3 {
      position: absolute;
      top: 2068px;
      left: 380px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      margin-left: 200px;
      margin-right: 10px;
      justify-content: center;
    }
    &__text2 {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-right: 200px;
      justify-content: center;
    }
  }
}
