.bg-container {
  margin: 40px;
  display: flex;
  align-items: center;
  background-color: #363636;
  margin-top: 100px;
  color: white;
}

.card2 {
  margin-top: 25px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: #f26931;
  align-items: center;
  width: 325px;
  height: 325px;
  padding: 30px;
  color: white;
}

.sub {
  &__side {
    display: flex;
    position: relative;
    padding: 40px;
    margin: auto;
    align-items: center;
  }

  .workout {
    background-size: cover;
    height: 190vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba($color: #f26931, $alpha: 0.5);
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      background-color: rgba($color: white, $alpha: 0.5);
      &__bottom {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        color: white;
        > h2 {
          font-weight: 700;
          align-items: center;
          color: #ffffff;
        }
      }
      &__pict {
        width: 50%;
        > img {
          border-radius: 60px;
          padding: 50px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

.history-tracking-data-container {
  display: flex;
  flex-direction: column;

  & .history-tracking-data {
    width: 140px;
    height: 105px;
    border: 1px solid black;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer;

    & .date-tracking {
      font-size: 8px;
    }
    & p {
      font-size: 12px;
      margin: 5px 3px;
    }
  }
  & .history-tracking-data:hover {
    border: 1px solid white;
    border-radius: 0;
  }
}